canvas {
    border: 1px solid black;
}

div.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#txt2D, #txt3D {
    display: inline;
}

div#txtBar {
    display: flex;
    justify-content: space-between;
}